<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アカウント作成</title>
</head>
<body>
    <div id="app">
        <h2>アカウント作成</h2>
        
        パスワード:
        <input type="password" v-model="password" placeholder="パスワード入力">
        
        パスワード確認: 
        <input type="password" v-model="password2" placeholder="パスワード確認">
        
        <input type="submit" v-if="button" value="登録">
        <input type="submit" v-else value="使用不可">
        
        <p v-if="!passmatched && password2" >パスワードが一致しません</p>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./script/script.js"></script>
</body>
</html>
